In [1]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from datetime import datetime

In [2]:
import os
print(os.getcwd())

/Users/vihitakesiraju/Documents/Machine_Learning/ml

In [3]:
df=pd.read_csv('FinalDataSet.csv')

In [4]:
df.head()

,Date,CO,NO2,O3,Pb,PM10,SO2,Precip,Air max,min,Wind dir,speed,Solar,ETo,RH max,min.1
0,06/02/1994,0.8,37.0,0.073,0.0298,258.0,3.0,0.0,106,63,S,5.0,747,0.32,75.0,7.1
1,06/03/1994,0.8,47.0,0.086,0.0159,76.0,8.0,0.0,104,61,SE,5.0,648,0.28,64.6,9.3
2,06/04/1994,1.4,37.0,0.061,0.0173,139.0,17.0,0.0,103,57,SE,5.0,752,0.31,73.6,12.9
3,06/05/1994,1.2,12.0,0.064,0.0381,128.0,10.0,0.0,101,58,W,7.0,777,0.37,64.9,9.1
4,06/06/1994,0.5,18.0,0.055,0.0101,148.0,6.0,0.0,99,56,W,6.0,747,0.34,50.0,11.9

In [5]:
df['Date'] =pd.to_datetime(df.Date)
wf['Date'] =pd.to_datetime(wf.Date).dt.date
wf.sort_values('Date',ascending=True,inplace=True)
wf.reindex()
wf.head()

NameError: name 'wf' is not defined

In [32]:
df['month']= df['Date'].dt.month
df['year']=df[]

In [33]:
print(df)

           Date   CO   NO2     O3      Pb   PM10   SO2  Precip  Air max  min  \
0    1994-06-02  0.8  37.0  0.073  0.0298  258.0   3.0     0.0      106   63
1    1994-06-03  0.8  47.0  0.086  0.0159   76.0   8.0     0.0      104   61
2    1994-06-04  1.4  37.0  0.061  0.0173  139.0  17.0     0.0      103   57
3    1994-06-05  1.2  12.0  0.064  0.0381  128.0  10.0     0.0      101   58
4    1994-06-06  0.5  18.0  0.055  0.0101  148.0   6.0     0.0       99   56
...         ...  ...   ...    ...     ...    ...   ...     ...      ...  ...
9860 2019-06-26  NaN  15.5    NaN     NaN    NaN   NaN     0.0       98   69
9861 2019-06-27  NaN  20.7    NaN     NaN    NaN   NaN     0.0      101   67
9862 2019-06-28  NaN  18.0    NaN     NaN    NaN   NaN     0.0      106   69
9863 2019-06-29  NaN   9.6    NaN     NaN    NaN   NaN     0.0      106   70
9864 2019-06-30  NaN   2.9    NaN     NaN    NaN   NaN     0.0      105   72

     Wind dir  speed  Solar   ETo  RH max  min.1  month
0           S    5.0    747  0.32    75.0    7.1      6
1          SE    5.0    648  0.28    64.6    9.3      6
2          SE    5.0    752  0.31    73.6   12.9      6
3           W    7.0    777  0.37    64.9    9.1      6
4           W    6.0    747  0.34    50.0   11.9      6
...       ...    ...    ...   ...     ...    ...    ...
9860        0    0.0    692  0.26    84.0   16.0      6
9861        0    0.0    725  0.30    76.0    0.0      6
9862      NaN    NaN    677   NaN     NaN    NaN      6
9863      NaN    NaN    659   NaN     NaN    NaN      6
9864        0    0.0    683  0.30    55.0   22.0      6

[9865 rows x 17 columns]

In [34]:
def getSeason(x):
    if x in range(1,4):
        return 0
    elif x in range(4,6):
        return 1
    elif x in range(6,9):
        return 2
    else:
        return 3
df['season']=df['month'].apply(lambda x:getSeason(x))
print(df)

           Date   CO   NO2     O3      Pb   PM10   SO2  Precip  Air max  min  \
0    1994-06-02  0.8  37.0  0.073  0.0298  258.0   3.0     0.0      106   63
1    1994-06-03  0.8  47.0  0.086  0.0159   76.0   8.0     0.0      104   61
2    1994-06-04  1.4  37.0  0.061  0.0173  139.0  17.0     0.0      103   57
3    1994-06-05  1.2  12.0  0.064  0.0381  128.0  10.0     0.0      101   58
4    1994-06-06  0.5  18.0  0.055  0.0101  148.0   6.0     0.0       99   56
...         ...  ...   ...    ...     ...    ...   ...     ...      ...  ...
9860 2019-06-26  NaN  15.5    NaN     NaN    NaN   NaN     0.0       98   69
9861 2019-06-27  NaN  20.7    NaN     NaN    NaN   NaN     0.0      101   67
9862 2019-06-28  NaN  18.0    NaN     NaN    NaN   NaN     0.0      106   69
9863 2019-06-29  NaN   9.6    NaN     NaN    NaN   NaN     0.0      106   70
9864 2019-06-30  NaN   2.9    NaN     NaN    NaN   NaN     0.0      105   72

     Wind dir  speed  Solar   ETo  RH max  min.1  month  season
0           S    5.0    747  0.32    75.0    7.1      6       2
1          SE    5.0    648  0.28    64.6    9.3      6       2
2          SE    5.0    752  0.31    73.6   12.9      6       2
3           W    7.0    777  0.37    64.9    9.1      6       2
4           W    6.0    747  0.34    50.0   11.9      6       2
...       ...    ...    ...   ...     ...    ...    ...     ...
9860        0    0.0    692  0.26    84.0   16.0      6       2
9861        0    0.0    725  0.30    76.0    0.0      6       2
9862      NaN    NaN    677   NaN     NaN    NaN      6       2
9863      NaN    NaN    659   NaN     NaN    NaN      6       2
9864        0    0.0    683  0.30    55.0   22.0      6       2

[9865 rows x 18 columns]

In [35]:
df.to_csv(r'/Users/vihitakesiraju/Desktop/Finalseasondata.csv')